    <%- include ('./partials/head') %>
    <title>Amamos el color!</title>
    <link rel="stylesheet" href="css/home_styles.css">    
</head>

<body>
    <!-- Header -->
   <%- include ('./partials/header') %>

    <main>
        <div id="promo">
                ¡Adelantate al Invierno con MachiMachi!
        </div>
        <section>
            <div class="products">
                    <% productos.map((item)=>{ %>
                        <div class="product-container">
                            <a href="/product/<%= item.id %>">
                                <img src=<%= item.img %> alt=<%= item.name %> class="product_img" >
                                <div>
                                    <h4 class="product-name">
                                        <%= item.name %>
                                    </h4>
                                    <p class="price"> $ <%= item.price %></p>
                                </div>
                            </a>
                        </div>
                    <% }) %>
            </div>
        </section>


        <section class="suscribe">
            <a href="/user/register" > Registrarse</a> 
        </section>
    </main>
   
    <%- include('./partials/footer') %> 
</body>
</html>