<%- include ('./partials/head') %>
    <title>Amamos el color!</title>
    <link rel="stylesheet" href="css/home_styles.css">    
</head>

<body>
    <!-- Header -->
   <%- include ('./partials/header') %>

    <main>
        <div id="promo"><img src="/images/Web-Banner-machi-machi-1.jpg" alt="" class="img"></div>
        <h2 class="main-title"><span class="red">No</span><span class="green">ve</span><span class="pink">da</span><span class="blue">des</span></h2>
        <section>
            <div class="products">
                    <% for(let item=0; item<4;item++){ %>
                        <div class="product-container">
                            <a href="/product/<%= productos[item].id_product %>">
                                <img src=<%= productos[item].img %> alt=<%= productos[item].name %> class="product_img" >
                                <div>
                                    <h4 class="product-name">
                                        <%= productos[item].name %>
                                    </h4>
                                    <p class="price">
                                        <% if(productos[item].discount!=0) { %>
                                            <% let newPrice = productos[item].price - (productos[item].price * productos[item].discount)%>
                                            <span class="price-tachado">$ <%= productos[item].price %></span> $ <%= newPrice %>
                                        <% } else { %>
                                            $ <%= productos[item].price %>
                                        <% } %>
                                    </p>
                                </div>
                            </a>
                        </div>
                    <% } %>
            </div>
        </section>
        <h2 class="main-title"><span class="pink">Más </span><span class="blue">ven</span><span class="yellow">di</span><span class="green">dos</span></h2>
        <section>
            <div class="products">
                    <% for(let item=4; item<8;item++){ %>
                        <div class="product-container">
                            <a href="/product/<%= productos[item].id_product %>">
                                <img src=<%= productos[item].img %> alt=<%= productos[item].name %> class="product_img" >
                                <div>
                                    <h4 class="product-name">
                                        <%= productos[item].name %>
                                    </h4>
                                    <p class="price">
                                        <% if(productos[item].discount!=0) { %>
                                            <% let newPrice = productos[item].price - (productos[item].price * productos[item].discount)%>
                                            <span class="price-tachado">$ <%= productos[item].price %></span> $ <%= newPrice %>
                                        <% } else { %>
                                            $ <%= productos[item].price %>
                                        <% } %>
                                    </p>
                                </div>
                            </a>
                        </div>
                    <% } %>
            </div>
        </section>

    </main>
   
    <%- include('./partials/footer') %> 
</body>
</html>