<%- include ('./partials/head') %>
<title>Login</title>
<link rel="stylesheet" href="/css/forms.css">
</head>
<body>
    <%- include ('./partials/header') %>
    <main>
        <div class="login-section">
            <form action="/user/login" method="POST" class="wraper">
                <h2>
                    Iniciá sesión
                </h2>
                <% if (locals.errors) { %>
                        <div id="error-msjs">
                            <p><i class="fas fa-exclamation-circle"></i> <%= locals.errors.credenciales.msg %></p>
                        </div>
                <%  } %>  
                <div class="input">
                    <label for="login_email">Correo electrónico:*</label>
                    <input type="text" name="email" placeholder=" Ingresá tu e-mail" value="<%= locals.old && old.email ? old.email : ''%>">
                </div>
                <div class="input">
                    <label for="password">Contraseña:*</label>
                    <input type="password" name="password" placeholder=" Ingresá tu contraseña" />
                    <div>
                        <input type="checkbox" name="rememberMe"> 
                        <label for="rememberMe">Recuérdame</label>
                    </div>
                </div>
                <div class="input">
                    <button class="submit" type="submit">Iniciar sesión</button>
                </div>
                <p>
                    <a href="/user/forgotpassword">Olvidé mi contraseña</a>
                </p>
            </form>
        </div>   
    </main>
<%- include('./partials/footer') %>
</body>
</html>

 