<%- include ('./partials/head') %>
    <title>Amamos el color!</title>
    <link rel="stylesheet" href="/css/admin_lists.css">
    <script src="/js/productList.js"></script> 
</head>

<body>
    <!-- Header -->
   <%- include ('./partials/header') %>

    <main>
        <div>
        <div>
        <% for(let i=0; i<5;i++){ %>

        <div class="div-wraper">
    
                    <div id="img">
                        <a href="/product/<%= productos[i].id_product %>"><img id="product-img" src=<%= productos[i].img %> alt=<%= productos[i].name %>></a>
                    </div>
        
                        <div class="product-edit"> 
                            <form method="POST" action="/product/edit/<%= productos[i].id_product %>?_method=PUT" class="productList">
                                <div class="product-info">Nombre:
                                    <input type="text" id="name" name="name" class="values" value="<%= productos[i].name %>">
                                </div>
                                <p class="error name-error"></p>
                                <div class="product-info" id="product-description">Descripción: 
                                    <textarea id="description" name="description" class="values" value="<%=productos[i].description%>"><%=productos[i].description%></textarea>
                                </div>
                                <p class="error description-error"></p>
                                <div class="product-info">Precio: 
                                    <input type="number" id="price" name="price" class="values" value="<%= productos[i].price %>">
                                </div>    
                                <p class="error price-error"></p>
                                <div class="product-info">Talle:
                                        <select class="values">
                                            <option value="value1">XS</option> 
                                            <option value="value2">S</option>
                                            <option value="value3">M</option>
                                            <option value="value4">L</option>
                                        </select>                                   
                                    </div>             
                                <div class="input">
                                    <div id="radio-button">
                                        <label for="gender">Colección:</label> 
                                        <% if (productos[i].gender == "niñas") { %> 
                                        <div class="values">
                                            <input type="radio" name="gender" value="niñas" checked>
                                            <label> Niñas </label>
                                            <input type="radio" name="gender" value="niños">
                                            <label> Niños </label>
                                        </div>
                                        <% } else { %>
                                            <div class="values">
                                                <input type="radio" name="gender" value="niñas">
                                                <label> Niñas </label>
                                                <input type="radio" name="gender" value="niños" checked>
                                                <label> Niños </label>
                                            </div>
                                        <% } %>  
                                    </div>                 
                                </div>
                             
                            
                                <div class="input" id="buttons">
                                    <button type="submit" class="admin-button" id="save-changes">Guardar cambios</button>
                                    <form action="/product/edit/<%= productos[i].id_product %>?_method=DELETE" method="POST">
                                        <button type="submit"class="admin-button" id="delete"> Eliminar</button>
                                    </form>
                                </div>
                            </form>
                        </div>
                </div>
        <% } %> 
        </div>
    
        <div id="page">
            <a href="#"><i class="fas fa-caret-left"></i></a>
            <a href="#"><i class="fas fa-caret-right"></i></a>
        </div>

    </div>
        
    </main>

   
   
    <%- include('./partials/footer') %> 
</body>
</html>