    <%- include ('./partials/head') %>
    <title>Carrito de compras</title>
    <link rel="stylesheet" href="css/productCart.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /> 
</head>
<body>
    <%- include ('./partials/header') %>
    
    <main>
        
        <section class="resume-products">
            <h4>Mi carrito</h4>
            <div class="products-details">
                <% productos.map((item)=>{ %>
                    <div class="product-detail">
                        <div class="product-img">
                            <a href="/product/<%= item.producto.id %>">
                                <img src=<%= item.producto.img %> alt=<%= item.producto.name %> class="img-product">
                            </a>
                        </div>
                        <div class="description-detail">
                            <h7 class="title-item-detail"><%= item.producto.name %></h7>
                            <span>Talle: Medium</span>
                            <span class="price">Precio: $<%= item.producto.price %></span>
                            <div class="container-cant-subtotal">
                                <div class="cantidad">
                                    <button class="plus-less">-</button>
                                    <input type="number" class="inp-cantidad" value=<%= item.cantidad %> disabled>
                                    <button class="plus-less">+</button>
                                </div>
                            </div>
                        </div>                    
                        <div class="other-info">
                            <i class="far fa-trash-alt"></i>
                            <span class="total-item">$<%= item.subTotal %></span>
                        </div>
                    </div>
                <% }) %>
            </div>
        </section>
        <section class="resume-cart">
            <h4>Resumen de la compra</h4>
            <div class="cupon-descuento">
                <h6><i class="fas fa-gift"></i> ¿Tenés un cupón de descuento?</h6>
                <div class="descuento">
                    <% let descuento=0; %>
                    <div class="inp-aplicar">
                        <input type="text" placeholder="Ingresá tu cupón" required>
                        <button>Aplicar</button>
                    </div>
                </div>
            </div>
            <div class="resume-valor">
                <% let SubTotal = 0 %>
                <% productos.forEach((producto)=>{SubTotal=SubTotal+producto.subTotal})%>
                <span>Subtotal: $<%= SubTotal%></span>
                <% let total=0; total=SubTotal-descuento;%>
                <span>Total: $<%= total%></span>
                <button type="submit">Iniciar pago</button>
            </div>
        </section>
    </main>
    <%- include('./partials/footer') %> 
</body>
</html>