<%- include('./partials/head.ejs') %> 
<title>Amamos el color!</title>
<link rel="stylesheet" href="/css/product_styles.css">
<link rel="stylesheet" href="/css/forms.css">
<body>
    <%- include('./partials/header.ejs') %>

    <main>
        <div class="product-detail">
            <div class="product-images">
                <img class="product-main-img" src=<%= producto.img %> alt=<%= producto.name %>> 
            </div>

            <div class="product-description">
                <h3 id="product-name"><%= producto.name %></h3>
                <h4 class="price"> $ <%= producto.price %></h4>
                <p> <%= producto.description %> </p>            
    
                <div class="product-edit"> 
                    <h3 id="edit-title">Editar </h3>
                    <br>
                    <form method="POST" action="/product/edit/<%= producto.id %>?_method=PUT">
                        <div class="input">
                            <input type="text" id="name" name="name" class="control" value="<%= producto.name %>">
                        </div>
                        <div class="input">
                            <input type="number" id="price" name="price" class="control" value="<%= producto.price %>">
                        </div>    
                        <div class="input">
                            <div id="radio-button">
                                <label for="gender">Colección:</label> 
                                <% if (producto.gender == "niñas") { %> 
                                <div>
                                    <input type="radio" name="gender" value="niñas" checked>
                                    <label> Niñas </label>
                                </div> 
                                <div>
                                    <input type="radio" name="gender" value="niños">
                                    <label> Niños </label>
                                </div>
                                <% } else { %>
                                    <div>
                                        <input type="radio" name="gender" value="niñas">
                                        <label> Niñas </label>
                                    </div> 
                                    <div>
                                        <input type="radio" name="gender" value="niños" checked>
                                        <label> Niños </label>
                                    </div>
                                <% } %>  
                            </div>                 
                        </div>
                        <div class="input">
                            <textarea id="description" name="description" value="<%=producto.description%>"><%=producto.description%></textarea>
                        </div>
                        <br>
                        <div class="input">
                            <button type="submit" class="edit-button">Guardar cambios</button>
                        </div>
                    </form>
                    <br>
                    <div class="input">
                        <form action="/product/edit/<%= producto.id %>?_method=DELETE" method="POST">
                            <button type="submit"class="edit-button"> Eliminar</button>
                        </form>
                    </div>
                </div>
            </div>



        </div>
    

        
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>