<%- include ('./partials/head') %>
    <title>Amamos el color!</title>
    <link rel="stylesheet" href="/css/product_styles.css">
</head>

<body>
    <%- include ('./partials/header') %>

    <main>

        <div class="product-detail">
            <div class="product-images">
                <img class="product-main-img" src=<%= producto.img %> alt=<%= producto.name %>> 
            </div>

            <div class="product-description">
                <h3 class="item"><%= producto.name %></h3>
                <h4 class="price">
                    <% if(producto.discount!=0) { %>
                        <% let newPrice = producto.price - (producto.price * producto.discount)%>
                        $ <%= newPrice %>
                    <% } else { %>
                        $ <%= producto.price %>
                    <% } %></h4>
                <p> <%= producto.description %> </p>
                <div class="talle">
                    <h4>Talle</h4>
                    <div>
                        <select class="talles">
                            <option value="value1">XS</option> 
                            <option value="value2">S</option>
                            <option value="value3">M</option>
                            <option value="value4">L</option>
                        </select>
                    </div>
                </div>                
                <div class="button"> <a href="/cart">COMPRAR</a></div>
    

                <% if (locals._locals.isLogged) { %>     
                    <% if (locals.loggedUser.id_type_user==1) { %>
                        <form action="/product/edit/<%= producto.id_product %>" method="get">
                            <button class="edit-button">EDITAR</button>
                        </form>
                    <% } %> 
                <% } %> 

            </div>
        </div>
      
        <section class="recomendados">
            <h4>Te podría interesar</h4>
            <div class="recommended-products">
                <% for(let i=0; i<4; i++){ %>
                    <% let item = productos[i] %>
                    <% if( item.id_product !=producto.id_product) { %>
                        <div class="product-recommended">
                            <a href="/product/<%= item.id_product %>"> <img src=<%= item.img %> alt=<%= item.name %>>
                                <div>
                                    <h4 class="product-name">
                                        <%= item.name %>
                                    </h4>
                                    <p class="price"> 
                                        <% if(item.discount!=0) { %>
                                            <% let newPrice = item.price - (item.price * item.discount)%>
                                            <span class="price-tachado">$ <%= item.price %></span> $ <%= newPrice %>
                                        <% } else { %>
                                            $ <%= item.price %>
                                        <% } %>
                                        </p>
                                </div>
                            </a> 
                        </div>          
                <% }} %>
            </div>
        </section>        
    </main>
    <%- include('./partials/footer') %> 
</body>
</html>