<%- include ('./partials/head') %>
<title>Tu perfil</title>
<link rel="stylesheet" href="/css/userProfileStyles.css">     <!-- REVISAR LINK DE ESTILOS  -->
</head>

<body>
    <%- include ('./partials/header') %>
   
    <main>
   
        <div id="user-wraper">

            <div id="user-image">
                <img id="user-main-img" src=<%= user.img %> alt=<%= user.name %>> 
            </div>

            <div id="user-data-wraper">
                <h3 id="user-name"> Hola, <%= user.name + ' ' + user.lastname %></h3>
                <div id="user-data">
                    <p> Correo electrónico: <%= user.email %></p>
                    <p> Teléfono: <%= user.phone %></p>
                    <% if (user.admin) { %>
                        <p id="is-admin"> Administrador</p>
                    <% } %>
                </div>
                         
                <div class="user-button">
                    <button type="submit">Editar perfil</button>
                </div>

                <div class= "user-button"> 
                    <button> <a href="/user/logout">Cerrar sesión</a> </button>
                </div>


            </div>


        </div>
        <%- include('./partials/footer') %> 
    </main>
</body>
</html>