<%- include ('./partials/head') %>
<title>Tu perfil</title>
<link rel="stylesheet" href="/css/userProfileStyles.css">    
</head>

<body>
    <%- include ('./partials/header') %>
   
    <main>
   
        <div id="user-wraper">

            <div id="user-image">
                <img id="user-main-img" src=<%= locals.loggedUser.img %> alt=<%= locals.loggedUser.name %>> 
            </div>

            <form action="/user/logout" method="POST" id="user-data-wraper">
                <h3 id="user-name"> Hola, <%= locals.loggedUser.name + ' ' + locals.loggedUser.last_name %></h3>
                <div id="user-data">
                    <p class="user-info"> Correo electrónico: <%= locals.loggedUser.email %></p>
                    <p class="user-info"> Teléfono: <%= locals.loggedUser.phone %></p>
                    <% if (locals.loggedUser.admin) { %>
                        <div class="is-admin">
                            <div id="admin-tag">Administrador</div>
                            <div class="user-button">
                                <button> Subir producto</button>
                                <button> Editar productos</button>
                                <button> Editar usuarios</button>
                            </div>
                        </div>
                    <% } %>
                </div>
                         
                <div class="user-button">
                    <a href="/edit-profile">Editar perfil</button>
                </div>

                <div class= "user-button"> 
                    <button type="submit">Cerrar sesión</button>
                </div>
            </form>
        </div>
    </main>
    <%- include('./partials/footer') %> 
</body>
</html>